.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../assets/close-icon.png");
}

.modal__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.modal__content {
  width: 100%;
  max-width: 496px;
  box-sizing: border-box;
  background-color: #ffff;
  position: relative;
  padding: 28px 28px 36px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.modal__content_type_image {
  padding: 0;
}

.modal__form {
  max-width: 496px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.modal__label {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__input {
  width: 100%;
  display: block;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  margin: 3px 0 24px;
  padding: 0;
}

.modal__legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 12px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__submit {
  border: none;
  width: 124px;
  height: 36px;
  margin-top: 32px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}
